.load_block > div > .type
{
	float:left;

}



.load_block {
	width:800px; /*800px*/
}

.state {
	float:left;
	width:100%;
	margin-bottom:20px;
}

.progress
{
	float:left;
	
	width:20%;
	position:relative;
}
.state > div:first-child
{
	float:left;
}
.load{
	height:20px;
	width:98%;
	background:grey;
	position:relative;
}


.clear
{
	clear:both;

}
.miniblock:after
{
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.files .name{
	float:left;
	width:80%;
}
.files .label
{
	float:left;
	width:20%;
}

.add_files  .name
{
	float:left;
}

.add_files  .block
{
	float:left;
	width:60%;
}

.add_files  .result
{
	float:left;
	width:20%;
}
.wrapper
{
	width:800px;/*800px*/
	margin:0 auto; 
}
.left_name
{
	width:17.45%;
	
}
.result.good
{
	color:green;
}
.result.okay
{
	color:grey;
}
.result.bad
{
	color:red;
}

.progress2
{
	width:98%;
	float:left;
	margin-right:0.5%;
}
.progress2 > .square
{
	height:20px;
	margin-right:1%;
	background-color:grey;
	width:15.83%;
	float:left;

}

.progress4
{
	width:98%;
	float:left;
	margin-right:0.5%;
}
.progress4 > .square
{
	height:20px;
	margin-right:1%;
	background-color:grey;
	width:15.83%;
	float:left;

}

.progress4 > div:last-child {
    margin-right: 0px;
}


.progress6
{
	width:98%;
	float:left;
	margin-right:0.5%;
}

.progress6 > .square
{
	height:20px;
	margin-right:1%;
	background-color:grey;
	width:15.83%;
	float:left;

}

.progress6 > div:last-child {
    margin-right: 0px;
}

.add_files > div{
	margin-top:30px;
}

.add_files hr
{
	margin-top:20px;
}

/*

#e7d7bb
#386a3b
#b0dfb3
#f6b8b4

*/
.square.on
{
	background:#f6b8b4;
}
.progress2::after
{
	content:'';
	height:3px;
	width:100%;
	position:relative;
	background:#f6b8b4;
	float:left;
	margin-top:2px;
	width:100%;
}


.progress4::after
{
	content:'';
	height:3px;
	width:100%;
	position:relative;
	background:#f6b8b4;
	float:left;
	margin-top:2px;
	width:100%;
}


.progress6::after
{
	content:'';
	height:3px;
	width:100%;
	position:relative;
	background:#f6b8b4;
	float:left;
	margin-top:2px;
	width:100%;
}


/*.progress2.first::after
{
	background:#f6b8b4;
}*/
.progress2.fourth::after
{
	background:#386a3b;
}
.progress2.third::after
{
	background:#b0dfb3;
}
.progress2.second::after
{
	background:#fdd99d;
}
.progress2.last::after
{
	background:#FF9600;
}
.progress2 > div:last-child{
	
	margin-right:0px;
}

.text
{
	float:left;
	width:16.45%;
	
}


.pr100 
{
	width:100%;
	background-color:grey;
	height:20px;
	float:left;
}

.button
{
	width:100%;
	height:30px;
	text-align:center;
}

.button_good
{
	margin-top:5px;
	background-color:#b0dfb3;
}

.button_bad
{
	margin-top:5px;
	background-color:#f6b8b4;
}

.input 
{
	border-color:#f6b8b4;
	margin-top:5px;
}
.left_name15
{
	float:left;
	width:14%;
	margin-right:5px;
}
.state .arrow{
	/*width:3%;*/
	border: 10px solid transparent;
	border-top-color: grey;
	border-bottom: 0;
	margin-top:4px;
	margin-right:5px;
}

.state.active .arrow{
	/*width:3%;*/
	border: 10px solid transparent;
	border-bottom-color: yellowgreen;
	border-top: 0;
	margin-top:4px;
	margin-right:5px;
}

.state.active .switcher
{
	display:block;
	
}

.state .switcher
{
	display:none;
}

.last
{
	background:white;
	float:left;
	height:20px;

	background:white;
	
}
.block
{
	width: 100%;
    float: left;
    
    margin-bottom: 5px;
}

.name2
{
	    width: 16%;
    float: left;
    margin-left: 5px;
    color: grey;
    height: 40px;
}

.miniblock
{
	weight:100;
	margin-bottom:10px;

	
}
.namespace
{
	width:16.55%;
	float:left;
	    margin-right: 5px;
}
.file
{
	width: 48.8%;
    float: left;
    margin-right: 6px;
}

.metka
{
	width:33%;
	float:left;
}

.metka.okay
{
	color:grey;
}

.metka.good
{
	color:green;
}
.metka.bad
{
	color:red;
}

.active .left_name15
{
	background:#f6b8b4;
	
}

.namespace.red
{
	background:#f6b8b4;
}

.second .on{
	background-color:#fdd99d;
}

.third .on
{
	background-color:#b0dfb3;
}
.fourth .on{
	background-color:#386a3b;
}